<div>
<blockquote class="blockquote">
  <h2 class="color-title"><%= @blog.title %></h2>
  <h6>Posted <%= time_ago_in_words(@blog.created_at) %> ago</h6>
  <h5><%= @blog.body %></h5>
</blockquote>

<span><%= link_to 'Back', blogs_path, class: "btn btn-info btn-sm" %></span>
<span><%= link_to 'Edit', edit_blog_path(@blog), class: "btn btn-success btn-sm" %></span>
<span><%= link_to 'Delete', blog_path(@blog), method: :delete, class: "btn btn-danger btn-sm" %></span>
</div>

